<div class="bodyRegistro">
   <center>
	  <form name="formulario" ng-model="formulario" ng-submit="registrarUsuario()" novalidate>

	       <div class="form-group" ng-class="{ 'has-error': formulario.nombre.$invalid && formulario.$submitted ||
	       formulario.nombre.$dirty && formulario.nombre.$error.required && formulario.nombre.$error.required && formulario.$submitted, 'has-success': formulario.nombre.$valid && formulario.nombre.$dirty}">
	          <label for="nombre" class="control-label">Correo eléctronico</label>
	       	  <input type="email" class="form-control formularios" ng-model="torneo.nombre" name="nombre"  required><br>

	           <div class="alert alert-danger alertas" ng-show="formulario.nombre.$error.required && formulario.$submitted ">Por favor rellene el campo</div>

	            <div class="alert alert-danger alertas" ng-show="formulario.nombre.$invalid && !formulario.nombre.$error.required&& formulario.$submitted ">Formato de correo inválido.</div>

	      </div>

	      <div class="form-group" ng-class="{ 'has-error': formulario.pass.$invalid && formulario.$submitted ||
	       formulario.pass.$dirty && formulario.pass.$error.required && formulario.pass.$error.required && formulario.$submitted, 'has-success': formulario.pass.$valid && formulario.pass.$dirty}">
	          <label for="pass" class="control-label">Contraseña</label>
	       	 <input type="password" class="form-control formularios" ng-model="torneo.pass" name="pass" required><br>

	           <div class="alert alert-danger alertas" ng-show="formulario.pass.$error.required && formulario.$submitted ">Por favor rellene el campo</div>

	      </div>
	                             
				    <div class="form-group" ng-class="{'has-error': formulario.zona.$error.required && formulario.$submitted, 'has-success': formulario.zona.$valid}">
				         <label for="zona" class="control-label">¿Qué quieres ser en la aplicación?</label>
				          <select class="form-control formularios"  ng-model="torneo.zona" name="zona" required>
				          	   <option value="">-- Selecione opción -- </option>
				          	   <option value="1">administrador de torneo</option>
				          	   <option value="2">Técnico DT </option>
				          	   <option value="3">Jugador </option>
				          </select><br>
				          <div class="alert alert-danger alertas" ng-show="formulario.zona.$error.required && formulario.$submitted">Debes selecionar una opción.</div>
				           
	              </div>
         
        	 <button type="submit" class="btn btn-success">Registrarme</button>

        </form>
    </center>
</div>