<div class="menuPpal" ng-include="'templates/header.html'"></div>
<div ng-include="'templates/menu.html'"></div><br><br>

<section id="main-content">
    <section class="wrapper" >
       
        <div id="usuarios" >
          <div class="encabezado">
            
          </div><br>

          <div id="cuerpo">

            <center>
            
              <form name="formulario" ng-model="formulario" ng-submit="actualizarEquipo()" ng-repeat="datos in equipo" novalidate>
                  
               <div class="form-group" ng-class="{ 'has-error': formulario.nombre.$invalid && formulario.$submitted ||
               formulario.nombre.$dirty && formulario.nombre.$error.required && formulario.nombre.$error.required && formulario.$submitted, 'has-success': formulario.nombre.$valid && formulario.nombre.$dirty || !formulario.nombre.$dirty}">
                  <label for="nombre" class="control-label">Nombre</label>
                  <input type="text" class="form-control formularios" ng-model="datos.nombre_equipo" name="nombre"  
                  id="nombre" required><br>

                   <div class="alert alert-danger alertas" ng-show="formulario.nombre.$error.required && formulario.$submitted ">Por favor rellene el campo</div>

              </div>
                               
            <div class="form-group" ng-class="{'has-error': formulario.zona.$error.required && formulario.$submitted, 'has-success': formulario.zona.$valid}">
                 <label for="zona" class="control-label">Seleccione el lugar de donde es el equipo</label>
                  <select class="form-control formularios"  ng-model="datos.lugar" name="zona" id="lugar" required>
                       <option value="Medellín">Medellín </option>
                       <option value="Barbosa">Barbosa </option>
                       <option value="Copacabana">Copacabana </option>
                       <option value="Girardota">Girardota </option>
                       <option value="Bello">Bello </option>
                       <option value="Itagüí">Itagüí </option>
                       <option value="Envigado">Envigado </option>
                       <option value="Sabaneta">Sabaneta </option>
                       <option value="La estrella">La estrella </option>
                       <option value="Caldas">Caldas </option>

                  </select><br>
                  <div class="alert alert-danger alertas" ng-show="formulario.zona.$error.required && formulario.$submitted">Debes selecionar una zona.</div>
                   
                </div><br>

                 <div class="form-group" ng-class="{'has-error': formulario.equipos.$error.required && formulario.$submitted, 'has-success': formulario.equipos.$valid}">
                 <label for="equipos" class="control-label">Seleccione el número jugadores del equipo</label>
                  <select class="form-control formularios" ng-model="datos.numero_jugadores" name="equipos" 
                  id="jugadores" required>
                       <option value="8">8</option>
                       <option value="10">10</option>
                       <option value="12">12</option>
                       <option value="14">14</option>
                       <option value="16">16</option>
                       <option value="18">18</option>
                       <option value="20">20</option>
                       <option value="22">22</option>
                    
                  </select><br>
                  <div class="alert alert-danger alertas" ng-show="formulario.equipos.$error.required && formulario.$submitted">Debes selecionar el número de equipos.</div>
                   
                </div> <br>
                 
               <button type="submit" class="btn btn-info">Actualizar equipo</button>

                    </form>
         </center>
            
          </div>
        </div>
    </section>
</section>