<div class="menuPpal" ng-include='"templates/header.html"'></div>
<div ng-include='"templates/menu.html"'></div><br><br>

<section id="main-content">
    <section class="wrapper" >
       
        <div id="usuarios" >
	        <div class="encabezado">
	        	
	        </div><br>

	        <div id="cuerpo">
		        <center>
              
             <h4>Buscar</h4> <input type="text" id="buscarEquipos" class="form-control formularios" ng-model="buscar"><br><br>
               <table class="table table-hover infoT" ng-pagination="equipo in equipos | filter: buscar" ng-pagination-size="3">
               	   
               	   <tbody>
               	   	     <tr>
               	   	         <td>
                               <div>
                                  <img src="{{equipo.logo_equipo}}" alt="" width="50px">
                                    <h2 class="nombret">{{equipo.nombre_equipo}}</h2> 
                               </div>
                             </td>
               	   	     	 <td>
                              <div>
                                 <p>Número de jugadores: {{equipo.numero_jugadores}} </p><br>
                                 <p>Zona: {{equipo.lugar}}</p> <br>
                                 <p>Torneo: Liga a</p>
                              </div>

                           </td> 
               	   	     	 <td>
                 	   	     	 <a href="#/infoTorneo" class="btn btn-info acciones-iconos"><i class="fa fa-eye"></i></a>
                             <a href="" class="btn btn-primary acciones-iconos" ng-if="rol == 'jugador'"></i>Solicitar inscripción</a>
               	   	     	 </td>
               	   	     	 
               	   	     </tr>  

               	   </tbody>

               </table>


               <ng-pagination-control pagination-id="equipos"></ng-pagination-control> 
        
		     </center>
		        
	        </div>
        </div>
    </section>
</section>