<div class="menuPpal" ng-include="'templates/header.html'"></div>
<div ng-include="'templates/menu.html'"></div><br><br>

<section id="main-content">
    <section class="wrapper" >
       
        <div id="usuarios" >
	        <div class="encabezado">
	        	
	        </div><br>

	        <div id="cuerpo">
             <div ng-show="tam == 0">
                 <a class="btn btn-success"  href="#/nuevoEquipo">Crear equipo</a> <br><br>
                
             </div>
            
	          
		      <center>

            <div class="alert alert-info alertas" ng-show="tam == 0">
                <h4>No has creado el equipo.</h4>
             </div>

		        <div id="contenedor-info" ng-show="tam > 0">
               <table class="table table-hover infoT" ng-repeat="equipo in equipoInfo">
               	   
               	   <tbody>
               	   	     <tr>
               	   	         <td>
                            
                            <img src="{{equipo.logo_equipo}}" alt="" width="150px" class="imagenEquipo"><br><br>

                           <div ng-controller="logosEquiposCtr">
                               <div id="controles" class="escondeimg">
                                <button class="btn btn-danger" id="cancelar">Cancelar</button>
                                <button class="btn btn-success" ng-click="guardar(equipo.id_equipo)" id="guardar">Guardar</button>
                               </div><br>

                            <div id="div_file" align="center">
                               
                               <i class="fa fa-camera"></i>
                               <input type="file" id="btn_enviar" get-file="logo" accept="image/*">        
                              </div>
                            </div>
                          
                             </td>

                             <td>
                                 <h3 class="nombret">{{equipo.nombre_equipo}}</h3>
                             </td>

                             <td>
                               
                             </td>
                             
               	   	     	 <td>
                              <div>
                                 <p>Número de jugadores: {{equipo.numero_jugadores}} </p><br>
                                 <p>Lugar: {{equipo.lugar}}</p> <br>
                                 <p>Fecha de creación: {{equipo.fecha_creacion}}</p>
                              </div>

                           </td> 
                           <td class="infoMas">
                               <a href="">Tabla de posiciones</a><br><br>
                               <a href="">Partidos</a>

                           </td> 
               	   	     	 <td ng-if="idComparar == compara" class="infoMas">
                 	   	     	 <a href="#/actualizarEquipo/{{equipo.id_equipo}}" class="btn btn-success glyphicon glyphicon-edit acciones-iconos"></a>
                 	   	     	 <button ng-click="eliminarEquipo(equipo.id_equipo)" class="btn btn-danger glyphicon glyphicon-trash  acciones-iconos"></button>
               	   	     	 </td>
               	   	     	 
               	   	     </tr>  

                        
               	 </tbody>

               </table>
               <br/>
               <hr>
               <h3>A continuación los jugadores del equipo</h3>

	              <table align="left" class="table table-hover tabla-equipos">
	                   
	                  <thead>
	                       <th>Foto</th>
	                       <th>Nombre jugador</th>
	                       <th>Acciones</th>
	                  </thead>
	                 <tbody>
	                      <tr>
	                          <td><img src="images/dayro.png" width="70px"></td>
	                          <td>Dayro Moreno</td>
	                          <td>
	                          <a href="" class="btn btn-info acciones-iconos"><i class="fa fa-eye"></i></a>
	                          <a href="" class="btn btn-danger acciones-iconos"><i class="fa fa-times"></i></a>
	                          </td>
	                          
	                      </tr>
	                 </tbody>

	              </table> 
              </div>
		     </center>
		        
	        </div>
        </div>
    </section>
</section>