<aside ng-controller="menuControlador">
    <div id="sidebar" class="nav-collapse">

        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent">
                        <i class="fa fa-futbol-o"></i>
                        <span>ChampionsGo!</span> 
                    </a>
                </li>
                 <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent" ng-class="navClass('listado',true)">
                        <i class="fa fa-trophy"></i>
                        <span>Torneos</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" ng-style="{display:expand('listado')}">
                        <li><a href="#/">Mis torneos</a></li>
                        <li><a href="#/buscarTorneo">Buscar torneos</a></li>
                        <li><a href="#/solicitudesTorneos">Solicitudes de inscripción</a></li>
                        
                    </ul>
                     
                </li>

                  <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent" ng-class="navClass('listado',true)">
                        <i class="fa fa-users"></i>
                        <span>Equipos</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" ng-style="{display:expand('listado')}">
                        <li><a href="#/miEquipo">Mi equipo</a></li>
                        <li><a href="#/buscarEquipos">Buscar equipos</a></li>
                        <li><a href="#/solicitudesEquipo">Solicitudes de inscripción</a></li>
                    </ul>
                     
                </li>
              


                  <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent" ng-class="navClass('listado',true)">
                     <i class="fa fa-drupal"></i>
                        <span>Mi perfil</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" ng-style="{display:expand('listado')}">
                        <li><a href="#/miPerfil">Ver perfil</a></li>
                    </ul>
                     
                </li>
            </ul>


        </div>
        

    </div>
</aside>